<a href="https://colab.research.google.com/github/CamiloLoaiza12/Analitica2_trabajo1/blob/main/Selecci%C3%B3n_de_variables_y_regularizaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importar datos
#from google.colab import drive
#drive.mount('/content/drive')

In [1]:
## Remove Warnings
import warnings
warnings.filterwarnings("ignore")

## Data
import pandas as pd
import numpy as np
from itertools import product

## Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

## Modelling
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error,  mean_absolute_error, mean_absolute_percentage_error, r2_score, classification_report
import math

In [2]:
# Importar librerias necesarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

%matplotlib inline

In [3]:
# Importar librerias necesarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

%matplotlib inline

In [4]:
from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import RandomOverSampler
from imblearn.combine import SMOTETomek
from imblearn.ensemble import BalancedBaggingClassifier
from sklearn.datasets import make_classification
from collections import Counter

DESCRIPCION DE LAS VARIABLES

# IMPORTACION DE DATOS

In [5]:
tabla_base = pd.read_csv('tabla_base.csv', sep = ",")

# Normalización

In [6]:
tablabase=tabla_base.copy()
columnascategoricas=["numero_capacitaciones","frecuencia_viajes"]
tablabase[columnascategoricas] = tablabase[columnascategoricas].astype(str)
tablabase.dtypes

desercion_año_anterior            object
frecuencia_viajes                 object
departamento                      object
distancia_domicilio                int64
educacion                          int64
formacion                         object
nivel_de_cargo                     int64
nombre_cargo                      object
estado_civil                      object
ingresos_mensuales                 int64
empresas_anteriores              float64
porcentaje_aumentosalario          int64
nivel_de_opciones                  int64
años_de_trabajo                  float64
numero_capacitaciones             object
años_jefe_actual                   int64
satisfaccion_entorno             float64
satisfaccion_laboral             float64
conciliacion_faimilar_laboral    float64
implicacion_laboral                int64
tiempo_prom_dia                  float64
dtype: object

In [7]:
tablabase["desercion"]=tablabase['desercion_año_anterior'].replace({'No':0, 'Yes':1})
del tablabase['desercion_año_anterior']
tablabase

,frecuencia_viajes,departamento,distancia_domicilio,educacion,formacion,nivel_de_cargo,nombre_cargo,estado_civil,ingresos_mensuales,empresas_anteriores,...,nivel_de_opciones,años_de_trabajo,numero_capacitaciones,años_jefe_actual,satisfaccion_entorno,satisfaccion_laboral,conciliacion_faimilar_laboral,implicacion_laboral,tiempo_prom_dia,desercion
0,Travel_Rarely,Sales,6,2,Life Sciences,1,Healthcare Representative,Married,131160,1.0,...,0,1.0,6,0,3.0,4.0,2.0,3,6.8702,0
1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,Research Scientist,Single,41890,0.0,...,1,6.0,3,4,3.0,2.0,4.0,2,7.3160,1
2,Travel_Frequently,Research & Development,17,4,Other,4,Sales Executive,Married,193280,1.0,...,3,5.0,2,3,2.0,2.0,1.0,3,6.8161,0
3,Non-Travel,Research & Development,2,5,Life Sciences,3,Human Resources,Married,83210,3.0,...,3,13.0,5,5,4.0,4.0,3.0,2,6.7892,0
4,Travel_Rarely,Research & Development,10,1,Medical,1,Sales Executive,Single,23420,4.0,...,2,9.0,2,4,4.0,1.0,3.0,3,7.8776,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,Travel_Rarely,Research & Development,5,4,Medical,1,Research Scientist,Single,60290,3.0,...,1,10.0,5,2,4.0,1.0,3.0,3,8.3169,0
4406,Travel_Rarely,Research & Development,2,4,Medical,1,Laboratory Technician,Divorced,26790,2.0,...,0,10.0,2,2,4.0,4.0,3.0,2,5.8972,0
4407,Travel_Rarely,Research & Development,25,2,Life Sciences,2,Sales Executive,Married,37020,0.0,...,0,5.0,4,2,1.0,3.0,3.0,3,7.1495,0
4408,Travel_Rarely,Sales,18,2,Medical,1,Laboratory Technician,Divorced,23980,0.0,...,1,10.0,2,8,4.0,1.0,3.0,2,9.1876,0
4409,Travel_Rarely,Research & Development,28,3,Medical,2,Laboratory Technician,Divorced,54680,0.0,...,0,11.0,6,9,1.0,3.0,3.0,4,6.5118,0

In [8]:
tablabase1=pd.get_dummies(tablabase)
tablabase1

,distancia_domicilio,educacion,nivel_de_cargo,ingresos_mensuales,empresas_anteriores,porcentaje_aumentosalario,nivel_de_opciones,años_de_trabajo,años_jefe_actual,satisfaccion_entorno,...,estado_civil_Divorced,estado_civil_Married,estado_civil_Single,numero_capacitaciones_0,numero_capacitaciones_1,numero_capacitaciones_2,numero_capacitaciones_3,numero_capacitaciones_4,numero_capacitaciones_5,numero_capacitaciones_6
0,6,2,1,131160,1.0,11,0,1.0,0,3.0,...,0,1,0,0,0,0,0,0,0,1
1,10,1,1,41890,0.0,23,1,6.0,4,3.0,...,0,0,1,0,0,0,1,0,0,0
2,17,4,4,193280,1.0,15,3,5.0,3,2.0,...,0,1,0,0,0,1,0,0,0,0
3,2,5,3,83210,3.0,11,3,13.0,5,4.0,...,0,1,0,0,0,0,0,0,1,0
4,10,1,1,23420,4.0,12,2,9.0,4,4.0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,5,4,1,60290,3.0,17,1,10.0,2,4.0,...,0,0,1,0,0,0,0,0,1,0
4406,2,4,1,26790,2.0,15,0,10.0,2,4.0,...,1,0,0,0,0,1,0,0,0,0
4407,25,2,2,37020,0.0,20,0,5.0,2,1.0,...,0,1,0,0,0,0,0,1,0,0
4408,18,2,1,23980,0.0,14,1,10.0,8,4.0,...,1,0,0,0,0,1,0,0,0,0
4409,28,3,2,54680,0.0,12,0,11.0,9,1.0,...,1,0,0,0,0,0,0,0,0,1

### NORMALIZACION

In [9]:
tablabase1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 46 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   distancia_domicilio                     4410 non-null   int64
 1   educacion                               4410 non-null   int64
 2   nivel_de_cargo                          4410 non-null   int64
 3   ingresos_mensuales                      4410 non-null   int64
 4   empresas_anteriores                     4410 non-null   float64
 5   porcentaje_aumentosalario               4410 non-null   int64
 6   nivel_de_opciones                       4410 non-null   int64
 7   años_de_trabajo                         4410 non-null   float64
 8   años_jefe_actual                        4410 non-null   int64
 9   satisfaccion_entorno                    4410 non-null   float64
 10  satisfaccion_laboral                    4410 non-null   float64
 11  conciliacion_faimilar_laboral           4410 non-null   float64
 12  implicacion_laboral                     4410 non-null   int64
 13  tiempo_prom_dia                         4410 non-null   float64
 14  desercion                               4410 non-null   int64
 15  frecuencia_viajes_Non-Travel            4410 non-null   uint8
 16  frecuencia_viajes_Travel_Frequently     4410 non-null   uint8
 17  frecuencia_viajes_Travel_Rarely         4410 non-null   uint8
 18  departamento_Human Resources            4410 non-null   uint8
 19  departamento_Research & Development     4410 non-null   uint8
 20  departamento_Sales                      4410 non-null   uint8
 21  formacion_Human Resources               4410 non-null   uint8
 22  formacion_Life Sciences                 4410 non-null   uint8
 23  formacion_Marketing                     4410 non-null   uint8
 24  formacion_Medical                       4410 non-null   uint8
 25  formacion_Other                         4410 non-null   uint8
 26  formacion_Technical Degree              4410 non-null   uint8
 27  nombre_cargo_Healthcare Representative  4410 non-null   uint8
 28  nombre_cargo_Human Resources            4410 non-null   uint8
 29  nombre_cargo_Laboratory Technician      4410 non-null   uint8
 30  nombre_cargo_Manager                    4410 non-null   uint8
 31  nombre_cargo_Manufacturing Director     4410 non-null   uint8
 32  nombre_cargo_Research Director          4410 non-null   uint8
 33  nombre_cargo_Research Scientist         4410 non-null   uint8
 34  nombre_cargo_Sales Executive            4410 non-null   uint8
 35  nombre_cargo_Sales Representative       4410 non-null   uint8
 36  estado_civil_Divorced                   4410 non-null   uint8
 37  estado_civil_Married                    4410 non-null   uint8
 38  estado_civil_Single                     4410 non-null   uint8
 39  numero_capacitaciones_0                 4410 non-null   uint8
 40  numero_capacitaciones_1                 4410 non-null   uint8
 41  numero_capacitaciones_2                 4410 non-null   uint8
 42  numero_capacitaciones_3                 4410 non-null   uint8
 43  numero_capacitaciones_4                 4410 non-null   uint8
 44  numero_capacitaciones_5                 4410 non-null   uint8
 45  numero_capacitaciones_6                 4410 non-null   uint8
dtypes: float64(6), int64(9), uint8(31)
memory usage: 650.4 KB

In [10]:
y=tablabase1["desercion"]
x=tablabase1.drop(["desercion"],axis=1)

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

columnasenteras=["distancia_domicilio","educacion","nivel_de_cargo","ingresos_mensuales","porcentaje_aumentosalario","nivel_de_opciones","años_jefe_actual","implicacion_laboral"]
tablabase1[columnasenteras]=tablabase1[columnasenteras].astype(float)
columnasfloat=list(tablabase1.select_dtypes("float64").columns)
pipeline=ColumnTransformer([("num", StandardScaler(),columnasfloat)],remainder='passthrough')

X_train_std = pipeline.fit_transform(X_train)
X_test_std = pipeline.transform(X_test)

# modelo2

# Penalizar clases mayoritarias y balanceo de clases

# REGULARIZACION

In [11]:
os_us = SMOTETomek()
x_train_res, y_train_res = os_us.fit_resample(X_train_std, y_train)

print ("Distribution before resampling {}".format(Counter(y_train)))
print ("Distribution after resampling {}".format(Counter(y_train_res)))

Distribution before resampling Counter({0: 2976, 1: 552})
Distribution after resampling Counter({0: 2976, 1: 2976})

# SELECCION DE VARIABLES

In [ ]:
# METODO LASSO

In [12]:
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression,  f_classif, mutual_info_classif, chi2

In [13]:
# metodo integrado
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso, Ridge

In [14]:

sel_ = SelectFromModel(Lasso(alpha = 0.01, max_iter=10000), max_features=10) #entre mas aumente el parametro de serializacon, ams variables van atender a 0
sel_.fit(x_train_res, y_train_res)
print(sel_.estimator_.coef_)

#Obtener variables seleccionadas
X_new = sel_.get_support()#descarta los coeficientes mas cercanos a 0
print(X_new)
df_new = X_train.iloc[:,X_new]
df_new.head()

[-0.00086385 -0.         -0.01072598 -0.00812686  0.04350773  0.00185681
 -0.         -0.11013781 -0.05286785 -0.05733072 -0.06178439 -0.01588996
 -0.00160847  0.11974888 -0.07329612  0.07948488  0.          0.
 -0.         -0.          0.          0.         -0.          0.
 -0.         -0.         -0.         -0.         -0.         -0.
 -0.05426985  0.          0.          0.         -0.         -0.03269915
 -0.          0.14343368 -0.         -0.          0.00068901  0.
 -0.         -0.         -0.        ]
[False False False False  True False False  True  True  True  True False
 False  True  True  True False False False False False False False False
 False False False False False False  True False False False False False
 False  True False False False False False False False]

,empresas_anteriores,años_de_trabajo,años_jefe_actual,satisfaccion_entorno,satisfaccion_laboral,tiempo_prom_dia,frecuencia_viajes_Non-Travel,frecuencia_viajes_Travel_Frequently,nombre_cargo_Manufacturing Director,estado_civil_Single
1035,4.0,7.0,2,1.0,3.0,6.7329,1,0,0,1
2217,1.0,10.0,9,2.0,1.0,5.6834,0,0,0,1
2107,1.0,6.0,1,3.0,1.0,8.4215,0,0,0,0
2434,1.0,1.0,0,4.0,3.0,6.0692,0,0,0,0
4367,3.0,16.0,0,4.0,4.0,8.8610,0,0,0,1

In [ ]:
### Metod wrapper

In [15]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression, LogisticRegression

# Función recursiva de selección de características
def recursive_feature_selection(X,y,model,k):
  rfe = RFE(model, n_features_to_select=k, step=1)
  fit = rfe.fit(X, y)
  X_new = fit.support_
  print("Num Features: %s" % (fit.n_features_))
  print("Selected Features: %s" % (fit.support_))
  print("Feature Ranking: %s" % (fit.ranking_))

In [16]:
# Establecer Estimador
model = LogisticRegression(max_iter=1000)
# Obtener columnas seleciconadas - (3 caracteristicas)
X_new_class = recursive_feature_selection(x_train_res, y_train_res, model, 10)
# Nuevo conjunto de datos
df_classification_new = X_train.iloc[:,X_new_class]
df_classification_new.head()

Num Features: 10
Selected Features: [False False False False False False False  True False False False False
 False  True  True  True False False False False  True False False False
  True False False False False False  True False False False False  True
 False  True False False False False False False  True]
Feature Ranking: [25 31 16 28  2 22 32  1 13  7  4 15 24  1  1  1 17 14 20 21  1 30 18 29
  1  9 34 33 26  3  1 10 12 11 35  1 19  1  8 23  5  6 27 36  1]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

## PARA CATEGORICAS ES MAS DESDE LO GRAFICO

## SELECCION UNIVARIANTE

## PARA VARIABLE DEPENDIENTE CATEGORICO