<a href="https://colab.research.google.com/github/CamiloLoaiza12/Analitica2_trabajo1/blob/main/Selecci%C3%B3n_de_variables_y_regularizaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importar datos
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
## Remove Warnings
import warnings
warnings.filterwarnings("ignore")

## Data
import pandas as pd
import numpy as np
from itertools import product

## Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

## Modelling
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error,  mean_absolute_error, mean_absolute_percentage_error, r2_score, classification_report
import math

In [ ]:
# Importar librerias necesarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

%matplotlib inline

In [ ]:
# Importar librerias necesarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

%matplotlib inline

DESCRIPCION DE LAS VARIABLES

# IMPORTACION DE DATOS

In [ ]:
infogeneral = pd.read_csv('general_data.csv', sep = ",")
infogeneral

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [ ]:
encuesta_satisfaccion = pd.read_csv("employee_survey_data.csv", sep = ",")
encuesta_satisfaccion.head(5)

   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0

In [ ]:
evaluacion_desempeño= pd.read_csv("manager_survey_data.csv", sep = ",")
evaluacion_desempeño.head(10)

   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3
5           6               3                  3
6           7               3                  4
7           8               3                  4
8           9               3                  4
9          10               3                  3

In [ ]:
tiempo_dedicacion= pd.read_excel("time_work.xlsx", header = 0)
tiempo_dedicacion.set_index("EmployeeID", inplace = True)
tiempo_dedicacion.head(5)

            mean_time
EmployeeID
1              6.8702
2              7.3160
3              6.8161
4              6.7892
5              7.8776

# Normalización

### VARIABLES ORDINALES A STRING

In [ ]:
tablabase=tabla.copy()
tablabase.frecuencia_viajes=tablabase.frecuencia_viajes.astype(str)
tablabase.dtypes

edad                               int64
desercion_año_anterior            object
frecuencia_viajes                 object
departamento                      object
distancia_domicilio                int64
educacion                          int64
formacion                         object
genero                            object
nivel_de_cargo                     int64
nombre_cargo                      object
estado_civil                      object
ingresos_mensuales                 int64
empresas_anteriores              float64
porcentaje_aumentosalario          int64
nivel_de_opciones                  int64
años_de_trabajo                  float64
numero_capacitaciones              int64
años_empresa                       int64
años_desde_acenso                  int64
años_jefe_actual                   int64
satisfaccion_entorno             float64
satisfaccion_laboral             float64
conciliacion_faimilar_laboral    float64
implicacion_laboral                int64
rendimiento                        int64
tiempo_prom_dia                  float64
dtype: object

In [ ]:
tablabase=tabla.copy()
columnascategoricas=["numero_capacitaciones","empresas_anteriores"]
tablabase[columnascategoricas] = tablabase[columnascategoricas].astype(str)
tablabase.dtypes

edad                               int64
desercion_año_anterior            object
frecuencia_viajes                 object
departamento                      object
distancia_domicilio                int64
educacion                          int64
formacion                         object
genero                            object
nivel_de_cargo                     int64
nombre_cargo                      object
estado_civil                      object
ingresos_mensuales                 int64
empresas_anteriores               object
porcentaje_aumentosalario          int64
nivel_de_opciones                  int64
años_de_trabajo                  float64
numero_capacitaciones             object
años_empresa                       int64
años_desde_acenso                  int64
años_jefe_actual                   int64
satisfaccion_entorno             float64
satisfaccion_laboral             float64
conciliacion_faimilar_laboral    float64
implicacion_laboral                int64
rendimiento                        int64
tiempo_prom_dia                  float64
dtype: object

In [ ]:
tablabase["desercion"]=tablabase['desercion_año_anterior'].replace({'No':0, 'Yes':1})
del tablabase['desercion_año_anterior']
tablabase

,edad,frecuencia_viajes,departamento,distancia_domicilio,educacion,formacion,genero,nivel_de_cargo,nombre_cargo,estado_civil,...,años_empresa,años_desde_acenso,años_jefe_actual,satisfaccion_entorno,satisfaccion_laboral,conciliacion_faimilar_laboral,implicacion_laboral,rendimiento,tiempo_prom_dia,desercion
0,51,Travel_Rarely,Sales,6,2,Life Sciences,Female,1,Healthcare Representative,Married,...,1,0,0,3.0,4.0,2.0,3,3,6.8702,0
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,Female,1,Research Scientist,Single,...,5,1,4,3.0,2.0,4.0,2,4,7.3160,1
2,32,Travel_Frequently,Research & Development,17,4,Other,Male,4,Sales Executive,Married,...,5,0,3,2.0,2.0,1.0,3,3,6.8161,0
3,38,Non-Travel,Research & Development,2,5,Life Sciences,Male,3,Human Resources,Married,...,8,7,5,4.0,4.0,3.0,2,3,6.7892,0
4,32,Travel_Rarely,Research & Development,10,1,Medical,Male,1,Sales Executive,Single,...,6,0,4,4.0,1.0,3.0,3,3,7.8776,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,Travel_Rarely,Research & Development,5,4,Medical,Female,1,Research Scientist,Single,...,3,0,2,4.0,1.0,3.0,3,3,8.3169,0
4406,29,Travel_Rarely,Research & Development,2,4,Medical,Male,1,Laboratory Technician,Divorced,...,3,0,2,4.0,4.0,3.0,2,3,5.8972,0
4407,25,Travel_Rarely,Research & Development,25,2,Life Sciences,Male,2,Sales Executive,Married,...,4,1,2,1.0,3.0,3.0,3,4,7.1495,0
4408,42,Travel_Rarely,Sales,18,2,Medical,Male,1,Laboratory Technician,Divorced,...,9,7,8,4.0,1.0,3.0,2,3,9.1876,0
4409,40,Travel_Rarely,Research & Development,28,3,Medical,Male,2,Laboratory Technician,Divorced,...,21,3,9,1.0,3.0,3.0,4,3,6.5118,0

In [ ]:
tablabase1=pd.get_dummies(tablabase)
tablabase1

,edad,distancia_domicilio,educacion,nivel_de_cargo,ingresos_mensuales,porcentaje_aumentosalario,nivel_de_opciones,años_de_trabajo,años_empresa,años_desde_acenso,...,empresas_anteriores_7.0,empresas_anteriores_8.0,empresas_anteriores_9.0,numero_capacitaciones_0,numero_capacitaciones_1,numero_capacitaciones_2,numero_capacitaciones_3,numero_capacitaciones_4,numero_capacitaciones_5,numero_capacitaciones_6
0,51,6,2,1,131160,11,0,1.0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,31,10,1,1,41890,23,1,6.0,5,1,...,0,0,0,0,0,0,1,0,0,0
2,32,17,4,4,193280,15,3,5.0,5,0,...,0,0,0,0,0,1,0,0,0,0
3,38,2,5,3,83210,11,3,13.0,8,7,...,0,0,0,0,0,0,0,0,1,0
4,32,10,1,1,23420,12,2,9.0,6,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,5,4,1,60290,17,1,10.0,3,0,...,0,0,0,0,0,0,0,0,1,0
4406,29,2,4,1,26790,15,0,10.0,3,0,...,0,0,0,0,0,1,0,0,0,0
4407,25,25,2,2,37020,20,0,5.0,4,1,...,0,0,0,0,0,0,0,1,0,0
4408,42,18,2,1,23980,14,1,10.0,9,7,...,0,0,0,0,0,1,0,0,0,0
4409,40,28,3,2,54680,12,0,11.0,21,3,...,0,0,0,0,0,0,0,0,0,1

### NORMALIZACION

In [ ]:
tablabase1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4410 entries, 0 to 4409
Data columns (total 61 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   edad                                    4410 non-null   int64
 1   distancia_domicilio                     4410 non-null   int64
 2   educacion                               4410 non-null   int64
 3   nivel_de_cargo                          4410 non-null   int64
 4   ingresos_mensuales                      4410 non-null   int64
 5   porcentaje_aumentosalario               4410 non-null   int64
 6   nivel_de_opciones                       4410 non-null   int64
 7   años_de_trabajo                         4410 non-null   float64
 8   años_empresa                            4410 non-null   int64
 9   años_desde_acenso                       4410 non-null   int64
 10  años_jefe_actual                        4410 non-null   int64
 11  satisfaccion_entorno                    4410 non-null   float64
 12  satisfaccion_laboral                    4410 non-null   float64
 13  conciliacion_faimilar_laboral           4410 non-null   float64
 14  implicacion_laboral                     4410 non-null   int64
 15  rendimiento                             4410 non-null   int64
 16  tiempo_prom_dia                         4410 non-null   float64
 17  desercion                               4410 non-null   int64
 18  frecuencia_viajes_Non-Travel            4410 non-null   uint8
 19  frecuencia_viajes_Travel_Frequently     4410 non-null   uint8
 20  frecuencia_viajes_Travel_Rarely         4410 non-null   uint8
 21  departamento_Human Resources            4410 non-null   uint8
 22  departamento_Research & Development     4410 non-null   uint8
 23  departamento_Sales                      4410 non-null   uint8
 24  formacion_Human Resources               4410 non-null   uint8
 25  formacion_Life Sciences                 4410 non-null   uint8
 26  formacion_Marketing                     4410 non-null   uint8
 27  formacion_Medical                       4410 non-null   uint8
 28  formacion_Other                         4410 non-null   uint8
 29  formacion_Technical Degree              4410 non-null   uint8
 30  genero_Female                           4410 non-null   uint8
 31  genero_Male                             4410 non-null   uint8
 32  nombre_cargo_Healthcare Representative  4410 non-null   uint8
 33  nombre_cargo_Human Resources            4410 non-null   uint8
 34  nombre_cargo_Laboratory Technician      4410 non-null   uint8
 35  nombre_cargo_Manager                    4410 non-null   uint8
 36  nombre_cargo_Manufacturing Director     4410 non-null   uint8
 37  nombre_cargo_Research Director          4410 non-null   uint8
 38  nombre_cargo_Research Scientist         4410 non-null   uint8
 39  nombre_cargo_Sales Executive            4410 non-null   uint8
 40  nombre_cargo_Sales Representative       4410 non-null   uint8
 41  estado_civil_Divorced                   4410 non-null   uint8
 42  estado_civil_Married                    4410 non-null   uint8
 43  estado_civil_Single                     4410 non-null   uint8
 44  empresas_anteriores_0.0                 4410 non-null   uint8
 45  empresas_anteriores_1.0                 4410 non-null   uint8
 46  empresas_anteriores_2.0                 4410 non-null   uint8
 47  empresas_anteriores_3.0                 4410 non-null   uint8
 48  empresas_anteriores_4.0                 4410 non-null   uint8
 49  empresas_anteriores_5.0                 4410 non-null   uint8
 50  empresas_anteriores_6.0                 4410 non-null   uint8
 51  empresas_anteriores_7.0                 4410 non-null   uint8
 52  empresas_anteriores_8.0                 4410 non-null   uint8
 53  empresas_anteriores_9.0                 4410 non-null   uint8
 54  numero_capacitaciones_0                 4410 non-null   uint8
 55  numero_capacitaciones_1                 4410 non-null   uint8
 56  numero_capacitaciones_2                 4410 non-null   uint8
 57  numero_capacitaciones_3                 4410 non-null   uint8
 58  numero_capacitaciones_4                 4410 non-null   uint8
 59  numero_capacitaciones_5                 4410 non-null   uint8
 60  numero_capacitaciones_6                 4410 non-null   uint8
dtypes: float64(5), int64(13), uint8(43)
memory usage: 839.8 KB

In [ ]:
y=tablabase1["desercion"]
x=tablabase1.drop(["desercion"],axis=1)

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

columnasenteras=["edad","distancia_domicilio","educacion","nivel_de_cargo","ingresos_mensuales","porcentaje_aumentosalario","nivel_de_opciones","años_empresa","años_desde_acenso","años_jefe_actual","implicacion_laboral","rendimiento"]
tablabase1[columnasenteras]=tablabase1[columnasenteras].astype(float)
columnasfloat=list(tablabase1.select_dtypes("float64").columns)
pipeline=ColumnTransformer([("num", StandardScaler(),columnasfloat)],remainder='passthrough')

X_train_std = pipeline.fit_transform(X_train)
X_test_std = pipeline.transform(X_test)

# SELECCION DE VARIABLES

## UMBRAL DE VARIANZA- SOLO PARA NUMERICAS

## PARA CATEGORICAS ES MAS DESDE LO GRAFICO

## SELECCION UNIVARIANTE

## PARA VARIABLE DEPENDIENTE CATEGORICO